@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #303030;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
li,
button {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

input,
textarea,
li.li-nav,
button {
  font-weight: 800 !important;
}

input,
textarea,
span {
  font-weight: 700;
}

p.family-custom,
h3.family-custom,
h2.family-custom {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

input.primary:-webkit-autofill {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(227, 171, 50);
}
input.secondary:-webkit-autofill {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(75, 159, 175);
}

.carousel {
  scroll-snap-type: x mandatory;
}

.carousel .item {
  scroll-snap-align: start;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #faf9f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb ::after {
  content: "culiau";
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
